#container{
    width: 1000px;      /*Rộng 1000px*/
    margin: 0px auto;   /*Canh giữa màn hình*/
    text-align: center; /*Text bên trong canh giữa*/
    font-size: 30px;    /*Font chữ 30px*/
    color: #FFF;        /*Font màu trắng*/
}
#header{
    height: 100px;      /*Cao 100px*/
    background: blue;   /*Nền màu xanh*/
}
.content{
    float:right;     /*Nằm bên trái*/
    width: 700px;   /*Rộng 700px*/
    height: 300px;  /*Cao 300px*/
    background: red;/*Nền màu đỏ*/
}
.menu{
    width: 300px;   /*Rộng 300px*/
    float: left;   /*Nằm bên phải*/
    height: 300px;  /*Cao 100px*/
    background: pink;/*Nền màu hồng*/
}
#footer{
    background: gray;
    height: 100px;
}
.clear{
    clear:both
}