html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: "Open Sans", 'arial', sans-serif;
    font-weight: 500;
    background-color: #ffffff;
}

@keyframes title {
    0% {
        background-color: #EF7126;
        color: #F9E559;
    }
    25% {
        background-color: #6F3662;
        color: #FFFFFF;
    }
    50% {
        background-color: #9F6164;
        color: #F8DEBD;
    }
    75% {
        background-color: #44B3C2;
        color: #FFFFFF;
    }
    100% {
        background-color: #218C8D;
        color: #F9E559;
    }
}

h1 {
    margin: 25px 0;
    font-size: 3em;
    line-height: 1.5em;
    font-family: georgia;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #8e0b00;
    text-align: center;
    animation: title 5s ease infinite;
}

.main-img {
    margin: auto;
    max-width: 1000px;
}

.main1 {
    float: left;
    width: 33.333333333%;
    padding: 15px;
    position: relative;
}

.thumb1,
.thumb2 {
    border: 1px solid #ddd;
    cursor: pointer;
}

.thumb1 img,
.thumb2 img {
    vertical-align: middle;
}

.thumb1 {
    padding: 4px;
    transition: all 0.5s ease;
}

.thumb2 {
    overflow: hidden;
}

.thumb2 img {
    transition: all 0.5s linear;
}

.thumb1:hover {
    transform: translate(0, -5px);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.thumb2:hover img {
    transform: scale(1.2);
    opacity: 0.8;
}

.tacgia {
    float: right;
}

@keyframes title2 {
    0% {
        color: blue;
    }
    50% {
        color: red;
    }
    100% {
        color: yellow;
    }
}

.tacgia-effect {
    animation: title2 5s ease infinite;
}